/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* common styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}
.flex-container {
  display: flex;
  margin-bottom: 100px;
  background-color: blue;
}
.width-half {
  width: 50%;
}
.width-half h1 {
  color: white;
  padding-left: 100px;
  padding-top: 100px;
}
.width-half a {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  margin-left: 100px;
}
.width-half img {
  width: 70%;
  padding-top: 25px;
}
.width-half img:hover{
    transform: rotate(7deg);
    transition: transform 2s linear .2s;
}
